/*box of footer*/
.footer-distributed {
  background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 90px;
}

/*contents of footer left*/
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/*footer links href*/
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding-right: 1%;
}

/*when hover show underline*/
.footer-distributed p.footer-links a:hover{text-decoration:underline;}